*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}
form{
    margin:150px;
}
table{
    padding: 20px;
}
table tr td{
    padding-top: 10px;
}
fieldset{
    width:80%;
}
legend{
    margin-left:20px;
}
select{
    height:40px; 
    width:250px; 
    font-size:27px; 
    text-align: center; 
    margin-left:10px;
}
input{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px 
}
#radio,#check{
    width:20px;
    height:20px;
    margin-left:10px;
    margin-top: 10px;
}
textarea{
    margin-top:10px;
}
#submit{
    width:120px;
    height:40px;
}